In [1]:
import tensorflow as tf
from tensorflow import keras

import pandas as pd
dataset = keras.datasets.mnist.load_data()


train_df = pd.DataFrame(list(zip(dataset[0][0], dataset[0][1])), columns =['image', 'label'])

test_df = pd.DataFrame(list(zip(dataset[1][0], dataset[1][1])), columns =['image', 'label'])


# part 1
# save dfs into csvs or any related format

In [3]:
train_df.to_csv("train_csv_data.csv")

In [4]:
test_df.to_csv("test_data_csv.csv")

# part 2
# load dataset from csvs and covert into orignal format ((np.array, np.array), (np.array, np.array))

In [5]:
train_data=pd.read_csv('train_csv_data.csv')
train_data

       Unnamed: 0                                              image  label
0               0  [[  0   0   0   0   0   0   0   0   0   0   0 ...      5
1               1  [[  0   0   0   0   0   0   0   0   0   0   0 ...      0
2               2  [[  0   0   0   0   0   0   0   0   0   0   0 ...      4
3               3  [[  0   0   0   0   0   0   0   0   0   0   0 ...      1
4               4  [[  0   0   0   0   0   0   0   0   0   0   0 ...      9
...           ...                                                ...    ...
59995       59995  [[  0   0   0   0   0   0   0   0   0   0   0 ...      8
59996       59996  [[  0   0   0   0   0   0   0   0   0   0   0 ...      3
59997       59997  [[  0   0   0   0   0   0   0   0   0   0   0 ...      5
59998       59998  [[  0   0   0   0   0   0   0   0   0   0   0 ...      6
59999       59999  [[  0   0   0   0   0   0   0   0   0   0   0 ...      8

[60000 rows x 3 columns]

In [6]:
test_data=pd.read_csv('test_data_csv.csv')
test_data

      Unnamed: 0                                              image  label
0              0  [[  0   0   0   0   0   0   0   0   0   0   0 ...      7
1              1  [[  0   0   0   0   0   0   0   0   0   0   0 ...      2
2              2  [[  0   0   0   0   0   0   0   0   0   0   0 ...      1
3              3  [[  0   0   0   0   0   0   0   0   0   0   0 ...      0
4              4  [[  0   0   0   0   0   0   0   0   0   0   0 ...      4
...          ...                                                ...    ...
9995        9995  [[  0   0   0   0   0   0   0   0   0   0   0 ...      2
9996        9996  [[  0   0   0   0   0   0   0   0   0   0   0 ...      3
9997        9997  [[  0   0   0   0   0   0   0   0   0   0   0 ...      4
9998        9998  [[  0   0   0   0   0   0   0   0   0   0   0 ...      5
9999        9999  [[  0   0   0   0   0   0   0   0   0   0   0 ...      6

[10000 rows x 3 columns]

In [7]:
train_x=train_data.loc[:,'image']
train_x
x1=train_x.to_numpy
x1

<bound method IndexOpsMixin.to_numpy of 0        [[  0   0   0   0   0   0   0   0   0   0   0 ...
1        [[  0   0   0   0   0   0   0   0   0   0   0 ...
2        [[  0   0   0   0   0   0   0   0   0   0   0 ...
3        [[  0   0   0   0   0   0   0   0   0   0   0 ...
4        [[  0   0   0   0   0   0   0   0   0   0   0 ...
                               ...
59995    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59996    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59997    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59998    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59999    [[  0   0   0   0   0   0   0   0   0   0   0 ...
Name: image, Length: 60000, dtype: object>

In [8]:
train_y=train_data.loc[:,'label']
train_y
x2=train_y.to_numpy
x2

<bound method IndexOpsMixin.to_numpy of 0        5
1        0
2        4
3        1
4        9
        ..
59995    8
59996    3
59997    5
59998    6
59999    8
Name: label, Length: 60000, dtype: int64>

In [9]:
test_x=test_data.loc[:,'image']
test_x
y1=test_x.to_numpy
y1

<bound method IndexOpsMixin.to_numpy of 0       [[  0   0   0   0   0   0   0   0   0   0   0 ...
1       [[  0   0   0   0   0   0   0   0   0   0   0 ...
2       [[  0   0   0   0   0   0   0   0   0   0   0 ...
3       [[  0   0   0   0   0   0   0   0   0   0   0 ...
4       [[  0   0   0   0   0   0   0   0   0   0   0 ...
                              ...
9995    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9996    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9997    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9998    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9999    [[  0   0   0   0   0   0   0   0   0   0   0 ...
Name: image, Length: 10000, dtype: object>

In [10]:
test_y=test_data.loc[:,'label']
test_y
y2=test_y.to_numpy
y2

<bound method IndexOpsMixin.to_numpy of 0       7
1       2
2       1
3       0
4       4
       ..
9995    2
9996    3
9997    4
9998    5
9999    6
Name: label, Length: 10000, dtype: int64>

In [11]:
final_output=((x1,x2), (y1,y2))
print(final_output)

((<bound method IndexOpsMixin.to_numpy of 0        [[  0   0   0   0   0   0   0   0   0   0   0 ...
1        [[  0   0   0   0   0   0   0   0   0   0   0 ...
2        [[  0   0   0   0   0   0   0   0   0   0   0 ...
3        [[  0   0   0   0   0   0   0   0   0   0   0 ...
4        [[  0   0   0   0   0   0   0   0   0   0   0 ...
                               ...
59995    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59996    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59997    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59998    [[  0   0   0   0   0   0   0   0   0   0   0 ...
59999    [[  0   0   0   0   0   0   0   0   0   0   0 ...
Name: image, Length: 60000, dtype: object>, <bound method IndexOpsMixin.to_numpy of 0        5
1        0
2        4
3        1
4        9
        ..
59995    8
59996    3
59997    5
59998    6
59999    8
Name: label, Length: 60000, dtype: int64>), (<bound method IndexOpsMixin.to_numpy of 0       [[  0   0   0   0   0   0   0   0   0   0   0 ...
1       [[  0   0   0   0   0   0   0   0   0   0   0 ...
2       [[  0   0   0   0   0   0   0   0   0   0   0 ...
3       [[  0   0   0   0   0   0   0   0   0   0   0 ...
4       [[  0   0   0   0   0   0   0   0   0   0   0 ...
                              ...
9995    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9996    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9997    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9998    [[  0   0   0   0   0   0   0   0   0   0   0 ...
9999    [[  0   0   0   0   0   0   0   0   0   0   0 ...
Name: image, Length: 10000, dtype: object>, <bound method IndexOpsMixin.to_numpy of 0       7
1       2
2       1
3       0
4       4
       ..
9995    2
9996    3
9997    4
9998    5
9999    6
Name: label, Length: 10000, dtype: int64>))

In [12]:
type(final_output)

tuple